name: Analyze

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  analyze:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c # v1.7.1
        with:
          sdk: stable
      - run: dart pub get
      - run: dart analyze
